.DS_Store
node_modules/
dist/
.astro/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
public/pdf/
src/pdf/
public/images/proyectos/
public/images/proyectos-2025/
src/images/proyectos/
src/images/proyectos-2025/
