<div class="modal fade" id="modalNoticia" tabindex="-1" aria-labelledby="tituloNoticia" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-blanco">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar / Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="titulo rojo" id="tituloNoticia">
          <span id="news_title"></span>
        </h1>
        <p id="news_abstract" class="entradilla"></p>
        <img id="news_img" src="" alt="" />
        <div id="news_body"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-border btn-border-azul" data-bs-dismiss="modal" aria-label="Volver / Back">Volver</button>
      </div>
    </div>
  </div>
</div>
