<div class="modal fade" id="modalProyecto" tabindex="-1" aria-labelledby="tituloProyecto" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-azul">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar / Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="seccion" id="section">Sección</h4>
        <h1 class="titulo" id="tituloProyecto">
          <span id="title">Título proyecto</span>
          <span id="title_en" class="rosa"></span>
        </h1>
        <img id="img" src="" alt="" />

        <div class="wrapper_synopsis">
          <strong>Sinopsis / <em>Synopsis:</em></strong>
          <p class="mb-2">
            <span id="synopsis"></span>
          </p>
          <p class="mb-4">
            <span id="synopsis_en" class="rosa"></span>
          </p>
        </div>

        <div class="wrapper_ficha_tecnica mb-4">
          <p class="wrapper_director">
            <strong>Dirección / <em>Director: </em></strong>
            <span id="director"></span>
          </p>
          <p class="wrapper_producer">
            <strong>Producción / <em>Producer: </em></strong>
            <span id="producer"></span>
          </p>
          <p class="wrapper_company">
            <strong>Compañía productora / <em>Production company: </em></strong>
            <span id="company"></span>
          </p>
          <p class="wrapper_script">
            <strong>Guion / <em>Script: </em></strong>
            <span id="script"></span>
          </p>
          <p class="wrapper_country">
            <strong>País / <em>Country: </em></strong>
            <span id="country"></span> <span>/</span> <span id="country_en" class="rosa"></span>
          </p>
          <p class="wrapper_genre">
            <strong>Género / <em>Genre: </em></strong>
            <span id="genre"></span> <span>/</span> <span id="genre_en" class="rosa"></span>
          </p>
          <p class="wrapper_duration">
            <strong>Duración / <em>Duration: </em></strong>
            <span id="duration"></span>
          </p>
          <p class="wrapper_budget">
            <strong>Presupuesto (% adquirido) / <em>Budget (% acquired): </em></strong>
            <span id="budget"></span> <span>(</span><span id="budget_acquired"></span><span>)</span>
          </p>
          <p class="wrapper_searching">
            <strong>En busca de / <em>Searching for: </em></strong>
            <span id="searching"></span> <span>/</span> <span id="searching_en" class="rosa"></span>
          </p>
        </div>

        <div class="wrapper_intention">
          <strong>Nota de intención / <em>Note of intention:</em></strong>
          <p class="mb-2">
            <span id="intention"></span>
          </p>
          <p class="mb-4">
            <span id="intention_en" class="rosa"></span>
          </p>
        </div>

        <div class="wrapper_biography">
          <strong>Biografía / <em>Biography:</em></strong>
          <p class="mb-2">
            <span id="biography"></span>
          </p>
          <p class="mb-4">
            <span id="biography_en" class="rosa"></span>
          </p>
        </div>

        <div class="wrapper_filmography">
          <strong>Filmografía / <em>Filmography:</em></strong>
          <p class="mb-4">
            <span id="filmography"></span>
          </p>
        </div>

        <div class="wrapper_company_profile">
          <strong>Perfil Compañía Productora / <em>Production Company profile :</em></strong>
          <p class="mb-2">
            <span id="company_profile"></span>
          </p>
          <p class="mb-4">
            <span id="company_profile_en" class="rosa"></span>
          </p>
        </div>

        <div class="wrapper_company_filmography">
          <strong>Filmografía Compañía Productora / <em>Production Company filmography :</em></strong>
          <p class="mb-2">
            <span id="company_filmography"></span>
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-border btn-border-blanco" data-bs-dismiss="modal" aria-label="Volver / Back">Volver</button>
      </div>
    </div>
  </div>
</div>
