<div class="modal fade" id="modalProyecto" tabindex="-1" aria-labelledby="tituloProyecto" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-azul">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar / Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="seccion" id="section">Sección</h4>
        <h1 class="titulo" id="tituloProyecto">
          <span id="title">Título proyecto</span>
          <span id="titleEn" class="rosa"></span>
        </h1>
        <img id="img" src="" alt="" />

        <div class="wrapper_ficha_tecnica mb-4">
          <p class="wrapper_director">
            <strong>Dirección:</strong>
            <span id="director"></span>
          </p>
          <p class="wrapper_producer">
            <strong>Producción:</strong>
            <span id="producer"></span>
          </p>
          <p class="wrapper_company">
            <strong>Compañías productoras:</strong>
            <span id="company"></span>
          </p>
          <p class="wrapper_script">
            <strong>Guion:</strong>
            <span id="script"></span>
          </p>
          <p class="wrapper_country">
            <strong>País:</strong>
            <span id="country"></span>
          </p>
          <p class="wrapper_countryEn">
            <strong>Country:</strong>
            <span id="countryEn"></span>
          </p>
          <p class="wrapper_genre">
            <strong>Género:</strong>
            <span id="genre"></span>
          </p>
          <p class="wrapper_genreEn">
            <strong>Genre:</strong>
            <span id="genreEn"></span>
          </p>
          <p class="wrapper_duration">
            <strong>Duración:</strong>
            <span id="duration"></span>
          </p>
          <p class="wrapper_language">
            <strong>Idioma:</strong>
            <span id="language"></span>
          </p>
          <p class="wrapper_languageEn">
            <strong>Language:</strong>
            <span id="languageEn"></span>
          </p>
          <p class="wrapper_budget">
            <strong>Presupuesto total:</strong>
            <span id="budget"></span>
          </p>
        </div>

        <div class="wrapper_synopsis">
          <strong>Sinopsis:</strong>
          <p class="mb-4">
            <span id="synopsis"></span>
          </p>
        </div>

        <div class="wrapper_synopsisEn">
          <strong>Synopsis:</strong>
          <p class="mb-4">
            <span id="synopsisEn"></span>
          </p>
        </div>

        <img id="img_director" src="" class="" alt="" />
        <div class="wrapper_biographyDirector">
          <strong>Biografía director/a:</strong>
          <p class="mb-4">
            <span id="biographyDirector"></span>
          </p>
        </div>

        <div class="wrapper_biographyDirectorEn">
          <strong>Director's biography:</strong>
          <p class="mb-4">
            <span id="biographyDirectorEn"></span>
          </p>
        </div>

        <img id="img_producer" src="" class="" alt="" />
        <div class="wrapper_biographyProducer">
          <strong>Biografía productor/a:</strong>
          <p class="mb-4">
            <span id="biographyProducer"></span>
          </p>
        </div>

        <div class="wrapper_biographyProducerEn">
          <strong>Producer's biography:</strong>
          <p class="mb-4">
            <span id="biographyProducerEn"></span>
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-border btn-border-blanco" data-bs-dismiss="modal" aria-label="Volver / Back">Volver</button>
      </div>
    </div>
  </div>
</div>
