<div class="modal fade" id="modalSeminario" tabindex="-1" aria-labelledby="tituloSeminario" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-gris">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar / Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="seccion" id="sem__activity"></h4>
        <h1 class="title azul" id="tituloSeminario">
          <span id="sem__title"></span>
        </h1>
        <h3 class="seminar azul">
          <span id="sem__subtitle"></span>
          <span id="sem__subtitleEn" class="rojo"></span>
        </h3>

        <div class="wrapper_meta-data d-flex flex-column flex-lg-row gap-1 gap-md-2 gap-lg-5">
          <div class="d-flex gap-2">
            <i class="fa-solid fa-location-dot"></i>
            <span id="sem__location"></span>
          </div>
          <div class="d-flex gap-2">
            <i class="fa-regular fa-calendar"></i>
            <span id="sem__date"></span>
          </div>
          <div class="d-flex gap-2">
            <i class="fa-regular fa-clock"></i>
            <span id="sem__time"></span>
          </div>
        </div>

        <div class="wrapper_colaborator">
          <p>En colaboración con</p>
          <img id="sem__colaborator" class="logo-colaborator" src="" alt="Colaborador" />
        </div>

        <div class="wrapper_url">
          <a id="sem__url" href="" type="button" class="btn btn-border btn-border-solid mt-3 mb-1" target="_blank" rel="noopener noreferrer">
            Comprar entradas
          </a>
        </div>

        <img id="sem__ponente" class="foto-ponente" src="" alt="Ponente" />

        <div class="wrapper_text">
          <p class="mb-2">
            <span id="sem__text"></span>
          </p>
          <p class="mb-4">
            <span id="sem__textEn" class="rojo"></span>
          </p>
        </div>

        <div class="wrapper_bio">
          <strong>Biografía / <em>Biography:</em></strong>
          <p class="mb-2">
            <span id="sem__bio"></span>
          </p>
          <p class="mb-4">
            <span id="sem__bioEn" class="rojo"></span>
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-border btn-border-azul" data-bs-dismiss="modal" aria-label="Volver / Back">Volver</button>
      </div>
    </div>
  </div>
</div>
